[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
telebot = "*"
oss2 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
